
<div class="block double-padded">
<h1>Автотеги</h1>
<div     class="fields form">
    <form action = "?plugin=autotags&action=save" method="post" id="plugins-settings-form">
    {$wa->csrf()}
    
    <div class="field">
        <div class="name">
            Статус
        </div>
        <div class="value">
        <select name="shop_autotags[status]">
        <option {if $settings.status == 1} selected="selected"{/if} value = "1">Включен</option>
        <option {if $settings.status == 0} selected="selected"{/if} value = "0">Выключен</option>
        </select>

        </div>
    </div>
    
    <div class="field">
        <div class="name">
            Применять шаблоны
        </div>
        <div class="value">
        <select name="shop_autotags[apply_templates]">
        <option {if $settings.apply_templates == 1} selected="selected"{/if} value = "1">Для всех мета-тегов</option>
        <option {if $settings.apply_templates == 0} selected="selected"{/if} value = "0">Только для незаполненных мета-тегов</option>
        </select>

        </div>
    </div>
    
    <br /><br /><br />
    
        {literal}
    <b>Шаблоны для страницы товара:</b>
    <div>{product_name} - название товара</div>
    <div>{product_summary} - краткое описание товара</div>
    <div>{product_description} - полное описание товара</div>
    <div>{product_price} - цена товара</div>
    <div>{product_min_price} - минимальная цена товара</div>
    <div>{product_max_price} - максимальная цена товара</div>
    <div>{product_compare_price} - зачеркнутая цена товара</div>
    <div>{product_count} - количество товара</div>
    <div>{category_name} - название родительской категории</div>
    <div>{category_description} - описание родительской категории</div>
    {/literal}
    <br />
    
    {literal}
    <b>Шаблоны для страницы категории:</b>
    <div>{category_name} - название категории</div>
    <div>{category_description} - описание категории</div>
    {/literal}
    <br />
    
    {foreach from=$meta_tags key=domain item=meta_type}
    <h1>Поселение: {$domain}</h1>
    
    
    {foreach from=$meta_type key=type item=meta_tag}
    
    {if $type=='product'}
        <h2>Страница товара</h2>
    {elseif $type=='category'}
        <h2>Страница категории</h2>
    {/if}
    
    <div class="field">
        <div class="name">
            META Title
        </div>
        <div class="value">
        <input class="long" name="meta_tags[{$domain}][{$type}][meta_title]" value="{$meta_tag.meta_title|escape}" />
        </div>
    </div>
    
    <div class="field">
        <div class="name">
            META Keywords
        </div>
        <div class="value">
        <textarea name="meta_tags[{$domain}][{$type}][meta_keywords]">{$meta_tag.meta_keywords|escape}</textarea>
        </div>
    </div>
    
    <div class="field">
        <div class="name">
            META Description
        </div>
        <div class="value">
        <textarea name="meta_tags[{$domain}][{$type}][meta_description]">{$meta_tag.meta_description|escape}</textarea>
   
        </div>
    </div>
    
    <br />
    {/foreach}
   
    <hr />
    {/foreach}
    



    

    
    <div class="field">
        <div class="value submit">
            <input type="submit" class="button green" value="Сохранить" />
            <span id="plugins-settings-form-status" style="display:none">
                <i style="vertical-align:middle" class="icon16 yes"></i> [`Saved`]
            </span>
        </div>
    </div>
    </form>
</div>
</div>

