{include file="./include.standartMetaTagsFields.html"}

{literal}
    <div class="field">
        <div class="value">
            <div class="block half-padded">
                <ul class="menu-h with-icons">
                    <li><a class="inline-link helper-link" href="#"><i class="icon16 script"></i><b><i>Шпаргалка</i></b><i class="icon10 darr-tiny"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="value help-content">
            <div class="block s-cheatsheet">
                <div class="fields">
                    <div class="field">
                        <div class="name bold">
                            {$wa->shop->settings('name')}
                        </div>
                        <div class="value no-shift">
                            Название магазина
                        </div>
                    </div>
                    <div class="field">
                        <div class="name bold">
                            {$wa->shop->settings('phone')}
                        </div>
                        <div class="value no-shift">
                            Телефон магазина
                        </div>
                    </div>
                </div>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>
{/literal}