<div class="field">
    <div class="name">
        META Title
    </div>
    <div class="value">
        <textarea name="autotags_category[{$type}][fields][meta_title]"  placeholder="{$placeholders.meta_title|default:''|escape}">{$meta_tags.fields.meta_title|default:''|escape}</textarea>
    </div>
</div>

<div class="field">
    <div class="name">
        META Keywords
    </div>
    <div class="value">
        <textarea name="autotags_category[{$type}][fields][meta_keywords]"  placeholder="{$placeholders.meta_keywords|default:''|escape}">{$meta_tags.fields.meta_keywords|default:''|escape}</textarea>
    </div>
</div>

<div class="field">
    <div class="name">
        META Description
    </div>
    <div class="value">
        <textarea name="autotags_category[{$type}][fields][meta_description]"  placeholder="{$placeholders.meta_description|default:''|escape}">{$meta_tags.fields.meta_description|default:''|escape}</textarea>
    </div>
</div>